.footer-bg {
  background-color: var(--cor-11);
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 0 0 0;
}

.footer h3 {
  margin: 0 0 1rem 0;
}

.footer-contato ul,
.footer-informacoes ul {
  margin: 0 0 1rem 0;
}

.footer-contato ul li a,
.footer-informacoes ul li a {
  color: var(--cor-5);
}

.footer li {
  margin: 0 0 1rem 0;
}

.footer-redes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 767.98px) {

  .footer {
    flex-wrap: wrap;
  }

  .footer-contato,
  .footer-informacoes {
    padding: 0 0 0 1rem;

  }

  .footer img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {

  .footer {
    justify-content: space-around;
    padding: 1.5rem 1rem 0 1rem;
  }
  .footer img {
    display: none;
  }
}