.header-bg {
  background: var(--cor-11);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-list {
  display: none;
}

.header-menu {
  display: flex;
  gap: 2rem;
  padding: 2.25rem;
}

.header-menu li a {
  color: var(--cor-0);
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header-menu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.header-menu li a:hover::after {
  width: 100%;
  background-color: var(--cor-0);
}

@media (max-width: 767.98px) {

  .header {
    justify-content: flex-end;
  }

  .header a img {
    display: none;
  }

  .bi-list {
    display: inline;
  }

  .header-menu {
    display: none;
  }
}
