.header-bg {
  background: var(--cor-11);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 2rem;
  padding: 2.25rem;
}

.header-menu a {
  color: var(--cor-0);
  text-decoration: none;
}
