.contato {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.contato-dados,
.contato-formulario {
    padding: 3rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
    border-radius: 0.5rem;
    background: var(--cor-11);
}

.contato-dados h2 {
    margin: 0 0 3rem 0;
}

.contato-endereco {
    margin: 0 0 2rem 0;
    margin-bottom: 2rem;
    padding-left: 24px;
}

.contato-formulario {
    border-radius: 0.5rem;
    background: var(--cor-0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
}

.contato-email {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    padding-left: 24px;
}

.contato-redes {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/* lojas */
.lojas {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 7rem 1.5rem;
}

.lojas h2 {
    margin-bottom: 1rem;
}

.loja-item {
    border-radius: 4px;
    background: var(--cor-0);
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.mapa {
    width: 560px;
    height: 260px;
}

.lojas-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.loja-dados {
    display: flex;
    gap: 0.5rem;
    border-left: 2px solid var(--cor-2);
    padding-left: 0.75rem;
}

@media (max-width: 1024.98px) {

    .contato-dados {
        display: none;
    }

    .contato-formulario {
        width: 100%;
    }

    .lojas {
        padding: 0 1.5rem;
    }

    .loja-item {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .loja-item .mapa {
        width: 90%;
    }

    .lojas-conteudo {
        display: none;
    }
}