.desenvolvedores-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.desenvolvedores {
  display: flex;
  gap: 2.5rem;
  padding: 2.5rem 0;
}

.desenvolvedores-imagem {
  position: relative;
}

.desenvolvedores-imagem img {
  border-radius: 0.25rem;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
}

.desenvolvedores-conteudo {
  display: flex;
  flex-direction: column;
  align-content: start;
  padding-left: 2rem;
}

.desenvolvedores-conteudo h2 {
  margin-bottom: 0.5rem;
}

@media (max-width: 767.98px) {

  .desenvolvedores-imagem img {
    max-width: 320px;
    height: auto;
  }

  .desenvolvedores-conteudo span {
    font-size: 12px;
  }

  .desenvolvedores {
    gap: 1rem;
  }
}

@media (max-width: 999.98px) {

  .desenvolvedores-bg {
    background: linear-gradient(to right, var(--cor-0) 0%, var(--cor-11) 0%);
  }

  .desenvolvedores {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: auto;
  }

  .desenvolvedores img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }

  .desenvolvedores-conteudo {
    padding: 0 0.75rem;
  }
}

.habilidades i {
  font-size: 2rem;
  padding: 0.5rem;
}

.titulo-habilidades h3 {
  padding: 1rem 0;
}