/* Tela inicial */

.introducao-bg {
  background: var(--cor-11);
  box-shadow: inset 0 -120px var(--cor-0);
  /*  border-bottom: 1px solid var(--cor-6); */
}

.introducao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2.5rem;
}

.introducao-conteudo {
  display: flex;
  flex-direction: column;
  align-self: end;
  padding: 0 0 12.5rem 0;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.introducao h1 {
  margin: 0 0 2rem;
}

.introducao h1 span {
  color: var(--cor-p1);
}

.introducao p {
  margin: 0 0 1.5rem 0;
}

@media (max-width: 767.98px) {

  .introducao {
    flex-wrap: wrap;
  }

  .introducao picture img {
    display: none;
  }
}

/* Section - carros */
.carros {
  padding: 0 0 1.5rem 0;
}

.conteudo-card,
.mais-carros {
  display: flex;
  gap: 1rem;
  max-width: 1400px;
  height: auto;
  padding: 0 1.25rem 1.25rem 1.25rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.mais-carros {
  display: none;
}

.card {
  width: 400px;
  aspect-ratio: 1 / 0.7;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.gambiarra-carro4 {
  display: none;
}

.img-box {
  width: 100%;
  height: auto;
  border-radius: inherit;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.img-box img {
  width: 400px;
  height: auto;
  border-radius: inherit;
  object-fit: cover;
  object-position: 50% 90%;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.descricao-card {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.card:hover .descricao-card {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.botao-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 767.98px) {

  .conteudo-card,
  .mais-carros {
    flex-direction: column;
    gap: 0rem;
    padding-bottom: 0rem;
  }

  .card {
    width: 300px;
  }

  .img-box img {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 999.98px) {

  .conteudo-card,
  .mais-carros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0 0.5rem;
  }

  .card {
    width: 340px;
  }

  .gambiarra-carro4 {
    display: block;
  }

  .img-box img {
    width: 340px;
  }

}

@media (min-width: 999px) and (max-width: 1124.98px) {

  .conteudo-card,
  .mais-carros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0 0.5rem;
  }

  .gambiarra-carro4 {
    display: inline;
  }
}

/*  Tecnologias */

.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia {
  display: flex;
  flex-direction: row-reverse;
  gap: 2.25rem;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding: 10rem 0 10rem 0;
}

.tecnologia-conteudo>span {
  display: block;
  margin: 0 0 1.25rem 0;
}

.tecnologia-conteudo h2 {
  margin: 0 0 2rem 0;
}

.tecnologia-conteudo>p {
  margin: 0 0 1.25rem 0;
}

.tecnologia a {
  margin: 0 0 5rem 0;
}

.tecnologia-vantagens {
  display: flex;
  gap: 2.5rem;
}

.tecnologia-vantagens h3 {
  margin: 0 0 0.5rem 0;
  width: max-content;
}

.tecnologia-imagem img {
  border-radius: 0.5rem;
}

@media (max-width: 767.98px) {

  .tecnologia {
    gap: 0;
  }

  .tecnologia-imagem img {
    display: none;
  }

  .tecnologia-vantagens {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 999.98px) {

  .tecnologia {
    gap: 0;
  }

  .tecnologia-imagem img {
    display: none;
  }
}

/* Parceiros */

.parceiros {
  padding: 3.75rem 0 7.5rem 0;
}

.parceiros h2 {
  margin: 0 0 3.75rem 0;
}

.parceiros ul {
  padding: 0 1.25rem;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: 2rem;
  border-left: 2px solid var(--cor-2);
}

.parceiros img {
  margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

@media (max-width: 767.98px) {

  .parceiros {
    padding: 0;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1rem;
  }

  .parceiros ul li {
    padding: 0.5rem;
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}

@media (min-width: 768px) and (max-width: 999.98px) {

  .parceiros ul {
    max-width: 1350px;
  }

  .parceiros ul li {
    padding: 0.5rem;
  }
}

/* Depoimentos */

.feedback {
  background-color: var(--cor-p1);
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.feedback img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  filter: grayscale(100%);
}

.feedback-conteudo {
  padding: 2.5rem 3rem;
  align-self: end;
}

.feedback-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin: 0 0 2rem 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .feedback {
    flex-direction: column;
  }
}

/* Seguros */

.seguros-bg {
  background: var(--cor-10);
}

.seguros-bg h2 {
  padding: 1rem;
}

.seguros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
}

.seguros-item {
  background-color: var(--cor-12);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.seguro-titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.seguros-item ul li {
  margin: 0 0 0.5rem 0;
}

@media (max-width: 767.98px) {
  .seguros {
    flex-direction: column;
  }
}
