/* Tela inicial */

.introducao-bg {
  background: var(--cor-11);
  box-shadow: inset 0 -120px var(--cor-0);
  /*  border-bottom: 1px solid var(--cor-6); */
}

.introducao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2.5rem;
}

.introducao-conteudo {
  display: flex;
  flex-direction: column;
  align-self: end;
  padding: 0 0 12.5rem 0;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.introducao h1 {
  margin: 0 0 2rem;
}

.introducao h1 span {
  color: var(--cor-p1);
}

.introducao p {
  margin: 0 0 1.5rem 0;
}

/* Section - carros */

.carros-lista ul {
  display: flex;
  gap: 2.5rem;
  max-width: 1400px;
  padding: 0 1.25rem 1.25rem 1.25rem;
  margin: 0 auto;
}

.carros-lista ul li a img {
  width: 440px;
  height: auto;
  box-shadow: 7px 7px 21px rgb(19, 17, 17, 0.9);
  opacity: 0.9;
  border-radius: 0.5rem;
}

/*  Tecnologias */

.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia {
  display: flex;
  flex-direction: row-reverse;
  gap: 2.25rem;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding: 10rem 0 10rem 0;
}

.tecnologia-conteudo>span {
  display: block;
  margin: 0 0 1.25rem 0;
}

.tecnologia-conteudo h2 {
  margin: 0 0 2rem 0;
}

.tecnologia-conteudo>p {
  margin: 0 0 1.25rem 0;
}

.tecnologia a {
  margin: 0 0 5rem 0;
}

.tecnologia-vantagens {
  display: flex;
  gap: 2.5rem;
}

.tecnologia-vantagens i {
  font-size: 1.5rem;
  color: var(--cor-p1);
}

.tecnologia-vantagens h3 {
  margin: 0 0 0.5rem 0;
  width: max-content;
}

.tecnologia-imagem img {
  border-radius: 0.5rem;
}

/* Parceiros */

.parceiros {
  padding: 3.75rem 0 7.5rem 0;
}

.parceiros h2 {
  margin: 0 0 3.75rem 0;
}

.parceiros ul {
  padding: 0 1.25rem;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: 2rem;
  border-left: 2px solid var(--cor-2);
}

.parceiros img {
  margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}