/* Seguros */

.seguros-bg {
  background: var(--cor-10);
}

.seguros-bg h2 {
  padding: 1rem;
}

.seguros {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.seguros-item {
  background-color: var(--cor-11);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.seguro-titulo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.seguros-item ul li {
  margin: 0 0 0.5rem 0;
}

/* Vantanges */

.vantagens-bg {
  background-color: var(--cor-10);
  box-shadow: inset 0 90px var(--cor-0);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin: 0 0 3.5rem 0;
}

.vantagens p {
  margin: 0 0 1rem 0;
}

.subtitulo-vantagens {
  display: flex;
  gap: 0.5rem;
}

.vantagens ul {
  display: flex;
  flex-direction: column;
}

.vantagens h3 {
  margin: 0 0 0.5rem;
}